.webcam-scanner-preview-box {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.webcam-scanner-preview {
    border: solid 1px #ccc;
    position: relative;
    height: 300px;
    width: 640px;
    max-width: max-content;
    min-width: max-content;
    min-height: max-content;
}
.webcam-scanner-preview > canvas {
    position: absolute;
    left: -160px;
    top: 30px;
}
.webcam-scanner-preview > video {
    position: absolute;
    top: -90px;
    left: -320px;
    min-height: 300px;
    min-width: 640px;
    filter: blur(3px);
}

.scanline {
    position: absolute;
    top: 30px;
    left: 160px;
    width: 320px;
    height: 1px;
    overflow: hidden;

    border-top: solid 3px #ff000099;

    animation-name: scanline;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes scanline {
    from { top: 30px; }
    to { top: 269px; }
}
